.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.pokemon-block {
  background-color: rgba(139, 130, 130, 0.404);
  width: 250px;
  border: 2px solid rgba(128, 128, 128, 0.288);
  border-radius: 2pc;
}
.pokemon-block:hover {
  border: 5px solid rgba(255, 0, 0, 0.37);
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.img-container {
  position: relative;
}

.img-container:hover {
  transform: translate(10px, 10px);
  transition: transform 0.3s ease;
}

.number {
  display: flex;
}

.name {
  text-align: center;
}

.weight {
  text-align: right;
}

.height {
  text-align: right;
}

.type {
  text-align: center;
  margin: 0 auto;
}
